<a
  href="/post/{{this.id}}"
  class="w-full p-5 rounded-lg bg-gray-100 shadow flex justify-between hover:bg-blue-100 transition ease-in-out"
>
  <div>
    <div class="text-2xl">{{{get_emoji}}}
      {{this.title}}</div>
    <p class="text-gray-600">{{this.user.name}}</p>
  </div>
  <div>
    <p class="text-sm text-gray-600">{{this.formattedDate}}</p>
  </div>
</a>